body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #ff3535; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ff3535 0%, #ff8e2b 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ff3535 0%,#ff8e2b 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ff3535 0%,#ff8e2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#ff8e2b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity;
}
content-box{
	margin: 0 auto;
  position: relative;
	color: #000;
	
   
}
h1{
	word-spacing:0.3em;
	letter-spacing:0.02em;
	color: #fff;
	margin: 0 auto;
	left: 25%;
	text-align: center;	
	margin: 0 0 20px 0;
}
p{
	line-height:1.7em;
	word-spacing:0.5em;
	letter-spacing:0.02em;
	width: 50%;
	left: 25%;
	word-wrap: break-word;
	color:#fff;
	text-align: center;
	margin: 0 auto;
	
}

.nav {
    -webkit-transition: all .9s ease-out 0.05s;
    -moz-transition: all .9s ease-out 0.05s;
    -o-transition: all .9s ease-out 0.05s;
    transition: all .9s ease-out 0.05s;
	background-color: rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.1);
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    width:100%;
    height: 20px;
       
}
.nav:hover{
	-webkit-transition: all .4s ease-out 0.1s;
    -moz-transition: all .4s ease-out 0.1s;
    -o-transition: all .4s ease-out 0.1s;
    transition: all .4s ease-out 0.1s;
	background-color: rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.4);
}
.nav > li {
    
    display: inline;
    padding: 0 2%;
    
}
.nav > li > a {
    text-decoration:none;
    font-size: 20px;
    color: #ffffff;
    
}

.nav > li > a:hover {
    
 color: #49ff59
       
    
}
a.selected {
  color: #49ff59      
}
#current a { color: #49ff59;}


.a{ text-align: center;
    background-color:#000000;
    opacity: 0.5;
    color: #ffffff;
    height: 450px;
    width: 450px;
    border-color: #000000;
    border-radius: 50%;
    border: 1px solid #49ff59;
    top: 180;
    font-size: 20px;
    color: #49ff59;
    position: absolute;
    left:507;}
.b{
    text-align: center;
    background-color:#000000;
    opacity: 0.5;
    color: #ffffff;
    height: 450px;
    width: 450px;
    border-color: #000000;
    border-radius: 50%;
    border: 1px solid #49ff59;
    top: 180px;
    font-size: 20px;
    color: #49ff59;
    position: absolute;
    left:957;
    
}
.gen1{
	font-size: 400%;
	text-align: center;
	color: white;
	position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	top: 180;	
}
.evo{
background-color: white;
    opacity: 0.8;
    font-size: 40px;
    text-opacity: 1;
    color: #ff3535;	
    border-radius: 50%;
    height: 180px;
    width: 180px;
    text:"EVOLVE!";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 800px;
    right: 0;
	top: 120;	
}
.evo:hover{
	opacity: 0.7;
	color: #ff8e2b;
}


